/* ontainer principal da aplicação */
body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.container{
    display: flex;
    height: 100vh;
    padding: 20px;
    
    
}
.container-1 {
    background-color: darkgrey;
    flex: 2;
  display: flex;

}
.container-2 {
  flex: 5;  
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 200px;
}

/* Título principal */
h1 {
  text-align: center;
}

/* Seção de nova nota */
.new-note {
  width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}

/* Área de texto para a nova nota */
#new-note-content {
  width: 100%;
            height: 100px;
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 10px;
}

/* Botão de adicionar nota */
button {
  background-color: #45a049;
}

/* Container para as notas */
.notes {
  width: auto;
  display: flex;
  margin-left: 100px;
  flex-direction: column;  
  
}

/* Cada nota individual */
.note {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

/* Área de texto dentro de cada nota */
.note textarea {
  width: 100%;
            height: 100px;
            padding: 10px;
            box-sizing: border-box;
            display: none;
}

/* Botão de deletar nota */
.delete-button {
  background-color: white;
  margin-left: 10px;
  right: 10px;
            color: red;
}
